.button {
	transition: all 0.1s ease;
	color: var(--primary-colour);
	border: 2px solid currentColor;
	border-radius: 0.5rem;
	background: none;

	&.primary {
		background: var(--primary-colour);
		border: var(--primary-colour);
		color: white;
	}

	&.error {
		background: red;
		color: white;
	}

	&.busy {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&:hover,
	&:focus {
		outline: none;
		box-shadow: 0 0 0 0.25rem var(--primary-hover-colour);
	}
}
